@font-face {
  font-family: "Vasir";
  font-weight: 400;
  src: url(./assets/fonts/Vazir.woff) format("woff");
}
@font-face {
  font-family: "Vasir Bold";
  font-weight: 700;
  src: url(./assets/fonts/Vazir-Bold.woff) format("woff");
}
