/* ========= Reset ========= */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
/*========= root variable ========= */
:root {
  --primary-color: #ff5722;
  --scondary-color-light: #ff7a50;
  --scondary-color-dark: #ffa589;
  --paragraf-color: #333333;
  --heading-color: #000000;
  --navbar-color: #f8f8f8;
  --link-color: #545454;
}
html {
  direction: rtl;
  font-size: 62.5%;
}

body {
  font-family: "Vasir";
}
.container {
  max-width: 1024px;
  margin: 0 auto;
}
.block {
  padding: 0 3rem;
}
/* ========== headeing ========== */
h1,
h2,
h3 {
  color: var(--heading-color);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 2rem;
}
p {
  color: var(--paragraf-color);
  font-size: 1.4rem;
  line-height: 3.6rem;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  p {
    font-size: 1.8rem;
  }
}
/* ========= navbar ========= */
.top-navbar {
  background-color: #fff;
}
.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.main__nav.expanded .navbar__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbar__list {
  display: none;
  flex-direction: column;
  width: 100%;
}
.nav__icon {
  cursor: pointer;
}
.navbar__list__item {
  padding: 0.3rem 0;
}
.navbar__list__item a {
  text-decoration: none;
  color: var(--link-color);
  display: block;
}
.navbar__list__item a:hover {
  color: var(--primary-color);
}

.download-btn > a {
  color: #fff;
}
.download-btn > a:hover {
  color: rgb(44, 138, 205);
  transform: scale(0.95);
}

/* ========= nav__toggler ========= */

.nav__toggler {
  cursor: pointer;
}
.bar {
  background-color: #000000;
  width: 3rem;
  height: 0.5rem;
  border-radius: 10rem;
  margin: 0.5rem;
}
.main__nav.expanded .bar-one {
  transform: rotate(-45deg) translate(-9px, 6px);
  margin: 8px 0;
}
.main__nav.expanded .bar-two {
  opacity: 0;
  transform: translateX(-20px);
}
.main__nav.expanded .bar-three {
  transform: rotate(45deg) translate(-8px, -8px);
  margin: 8px 0;
}
@media screen and (min-width: 1024px) {
  .navbar__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    font-size: 1.6rem;
  }
  .navbar__list__item {
    margin-left: 3rem;
  }
  .nav__toggler {
    display: none;
  }
}

/* ========== buttons ========== */

.btn {
  padding: 1rem 2.5rem;
  border-radius: 0.8rem;
  color: #fff;
  font-family: "Vasir-bold";
  font-size: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.btn--primary {
  background-color: var(--primary-color);
}

.btn--scondary {
  background-color: var(--scondary-color-dark);
}

.btn--block {
  display: block;
  width: 90%;
  font-size: 1.6rem;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.6rem;
  }
  .btn--block {
    font-size: 2rem;
  }
}

/* ========== intro ========== */
.intro-btn {
  background: linear-gradient(
      51deg,
      rgba(23, 26, 60, 0.7) 5%,
      rgba(23, 26, 60, 0.3)
    )
    95%;
  border-radius: 3.2rem;
  padding: 2.3rem;
}
.intro-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ========== banner ========== */
.intro-btn {
  position: absolute;
  top: 10rem;
  height: 421px;
  width: 270px;
}
.banner img {
  width: 100%;
  height: 493px;
}
.intro__title {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.intro__descrition {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 2.5rem;
}
.intro__btn {
  padding: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 1.2rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000000;
  font-family: "vasir";
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.mockup-phone {
  display: none;
}
.intro-btn--scondary {
  color: #fff;
  background: none;
  border: 1px solid #fff;
}
.intro-btn-container {
  display: flex;
  flex-direction: column;
}
.ic-pwa {
  background: url(./assets/svg/ic-pwa.svg) 50%;
  width: 24px;
  height: 24px;
}
.icon__intro__btn {
  margin-left: 2rem;
}
@media screen and (min-width: 768px) {
  .banner img {
    height: 508px;
  }
  .intro-btn-container {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 1.5rem;
    column-gap: 3rem;
  }
  .intro__btn {
    width: 224px;
  }
  .intro-wrapper {
    justify-content: flex-start;
    margin-bottom: 35rem;
  }
  .mockup-phone {
    display: block;
    position: absolute;
    top: 20rem;
    left: 7rem;
  }
  .mockup-phone img {
    width: 560px;
    height: 860px;
  }
  .intro-btn {
    margin-top: 5rem;
    height: 346px;
    width: 528px;
  }
  .intro__title {
    font-size: 5rem;
  }
  .intro__descrition {
    font-size: 2.4rem;
  }
}

/* ========== services ========== */
.services {
  margin-bottom: 10rem;
}
.nav__services {
  display: flex;
  justify-content: center;
  overflow: auto;
  padding: 0.5rem 0 1.5rem;
}
.nav__img {
  width: 90px;
}
.nav__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
  margin: 0 1.5rem;
  transition: all 0.3s ease-out;
  cursor: pointer;
  max-width: 110px;
}
.nav__item:hover {
  opacity: 1;
}
.nav__link {
  text-decoration: none;
  color: var(--link-color);
}
.nav__title {
  margin-top: 1rem;
  font-size: 1.2rem;
}
@media screen and (min-width: 1024px) {
  .nav__title {
    margin-top: 1.5rem;
    font-size: 1.8rem;
  }
}

/* ==========  plans  ========== */
.plan-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 330px));
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 5rem;
}
.plan {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.plan:hover {
  transform: scale(1.05);
}
.plan__header {
  padding-top: 3.5rem 3rem;
}
.plan__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  font-size: 1.8rem;
}
.plan .plan__header {
  background-color: var(--scondary-color-dark);
  border-radius: 8px 8px 0 0;
}
.plan--popular:hover {
  transform: scale(1.15);
}
.plan--popular {
  transform: scale(1.05);
}
.plan--popular .plan__header {
  background-color: var(--scondary-color-light);
}
.plan--popular .btn {
  background-color: var(--scondary-color-light);
}

.plan__price {
  padding-right: 3rem;
  font-weight: 500;
  font-size: 3.4rem;
}
.plan__biling__cycle {
  font-size: 1.4rem;
}
.plan__description {
  display: block;
  padding: 3rem;
  font-size: 1.8rem;
}

/* ========== list ========== */

.plan__list {
  margin-top: 4.3rem;
  font-size: 1.8rem;
  padding: 2rem;
}
.list-item {
  margin-bottom: 3.5rem;
  background: url(./assets/svg/icon-tik.svg) no-repeat right;
  padding-right: 6rem;
}

.plan__footer {
  font-size: 1.8rem;
  margin: 12rem 1rem 5rem 1rem;
}

@media screen and (min-width: 1000px) {
  .plan__list {
    padding-right: 4rem;
  }
  .list-item {
    padding: 0 4rem;
  }
  .plan__footer {
    font-size: 2rem;
  }
}
/* ==========  badge  ========== */

.badge {
  display: inline-block;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 3.2rem;
}
.badge--primary {
  background-color: var(--primary-color);
}

.badge--sconadry {
  background-color: #fff;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.6rem;
  }
}

/* ==========  feature  ========== */
.feature-section {
  padding-top: 5rem;
}
.feature__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.feature__img img {
  margin: 2rem 0;
  width: 350px;
  order: 2;
}
.feature__text {
  margin-bottom: 3rem;
  order: 1;
}

@media screen and (min-width: 1024px) {
  .feature-section {
    padding-top: 5rem;
  }
  .feature__item {
    flex-direction: row;
    gap: 5rem;
  }
  .feature__detail {
    width: 50%;
  }
  .feature__img {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .feature__img img {
    width: 100%;
  }
  .feature__title {
    margin-bottom: 5rem;
  }
  .charge {
    margin-top: 3rem;
  }
}

/* ==========  contact-us  ========== */

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10rem;
}
.contact-us-header h2 {
  margin-bottom: 3rem;
}
.contact-us-header h3 {
  font-weight: 500;
  margin-bottom: 4.7rem;
}
.contact-us-body {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .contact-us-body {
    flex-direction: row;
  }
  .contact-us {
    margin-top: 20rem;
  }
}
.contact-us__map {
  display: flex;
  flex-direction: column-reverse;
}
.map__img {
  display: none;
}
@media screen and (min-width: 1024px) {
  .map__img {
    display: block;
    width: 625px;
    height: 323px;
    margin-left: 2rem;
  }
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 4rem;
  margin-bottom: 8rem;
}
.icon div {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 3rem;
  text-align: left;
}
.icon__img {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
}
.social-icon {
  margin-bottom: 9rem;
}
.social-icon img {
  margin-right: 3rem;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .contact-us__map {
    flex-direction: column;
  }

  .icon {
    flex-direction: row;
    align-items: flex-start;
  }
  .icon div {
    flex-direction: column;
    margin-right: 5rem;
    align-items: center;
  }
  .icon__img {
    max-width: 24px;
  }
  .social-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: 7rem;
    padding-left: 6rem;
  }
}
form {
  border: 1px solid #dddddd;
  border-radius: 19px;
  padding: 5.2rem 5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
form h3 {
  margin-bottom: 4.5rem;
}
::placeholder {
  font-size: 1.5rem;
}
input,
textarea {
  display: block;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  margin-bottom: 4.5rem;
  padding: 2rem;
  width: 100%;
  resize: none;
  font-size: 1.6rem;
  direction: ltr;
}
input {
  border-radius: 39px;
}
form .btn {
  float: left;
  font-size: 1.6rem;
}
